Package: com.esquilli.scorpion
Section: Tweaks
Installed-Size: 2060
Maintainer: Esquilli
Architecture: iphoneos-arm
Version: 1.4.2
Depends: mobilesubstrate, preferenceloader, com.muirey03.libmryipc, ws.hbang.common (>= 1.11), firmware (>= 13.0), ws.hbang.alderis, com.spark.libsparkapplist
Description: Intrusive call interface? Say no more.
Name: Scorpion
Author: Esquilli
